In [12]:
import chromadb
from pprint import pprint

# Initialize the ChromaDB PersistentClient
client = chromadb.PersistentClient(path="D:\Generative AI\generative ai project\QA_SQL_Tabular_data\data\chroma")

# List all collections in the database
collections = client.list_collections()
print("Collections in the database:")
for collection in collections:
    print(f"- {collection.name}")

# Choose a specific collection
collection_name = "titanic_data"
collection = client.get_collection(name=collection_name)

# Inspect the contents of the collection
# Retrieve all data in the collection (for small collections)
data = collection.get()
pprint(data)  # Pretty print the data

# Example: Get a subset of the data for large collections
# Example: Print out the retrieved data
print("Documents in the collection:")
for doc in data['documents'][0]:
    print(doc)

Collections in the database:
- titanic_data
{'data': None,
 'documents': ['Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Mr. Owen Harris Braund,\n'
               'Sex: male,\n'
               'Age: 22,\n'
               'Siblings/Spouses Aboard: 1,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 7.25,\n',
               'Survived: 1,\n'
               'Pclass: 1,\n'
               'Name: Mrs. John Bradley (Florence Briggs Thayer) Cumings,\n'
               'Sex: female,\n'
               'Age: 38,\n'
               'Siblings/Spouses Aboard: 1,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 71.2833,\n',
               'Survived: 1,\n'
               'Pclass: 3,\n'
               'Name: Miss. Marguerite Rut Sandstrom,\n'
               'Sex: female,\n'
               'Age: 4,\n'
               'Siblings/Spouses Aboard: 1,\n'
               'Parents/Children Aboard: 1,\n'
               'Fare: 16.7,\n',
               'Survived: 1,\n'
               'Pclass: 1,\n'
               'Name: Miss. Elizabeth Bonnell,\n'
               'Sex: female,\n'
               'Age: 58,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 26.55,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Mr. William Henry Saundercock,\n'
               'Sex: male,\n'
               'Age: 20,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 8.05,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Mr. Anders Johan Andersson,\n'
               'Sex: male,\n'
               'Age: 39,\n'
               'Siblings/Spouses Aboard: 1,\n'
               'Parents/Children Aboard: 5,\n'
               'Fare: 31.275,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Miss. Hulda Amanda Adolfina Vestrom,\n'
               'Sex: female,\n'
               'Age: 14,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 7.8542,\n',
               'Survived: 1,\n'
               'Pclass: 2,\n'
               'Name: Mrs. (Mary D Kingcome) Hewlett,\n'
               'Sex: female,\n'
               'Age: 55,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 16.0,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Master. Eugene Rice,\n'
               'Sex: male,\n'
               'Age: 2,\n'
               'Siblings/Spouses Aboard: 4,\n'
               'Parents/Children Aboard: 1,\n'
               'Fare: 29.125,\n',
               'Survived: 1,\n'
               'Pclass: 2,\n'
               'Name: Mr. Charles Eugene Williams,\n'
               'Sex: male,\n'
               'Age: 23,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 13.0,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke,\n'
               'Sex: female,\n'
               'Age: 31,\n'
               'Siblings/Spouses Aboard: 1,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 18.0,\n',
               'Survived: 1,\n'
               'Pclass: 3,\n'
               'Name: Mrs. Fatima Masselmani,\n'
               'Sex: female,\n'
               'Age: 22,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 7.225,\n',
               'Survived: 1,\n'
               'Pclass: 3,\n'
               'Name: Miss. Laina Heikkinen,\n'
               'Sex: female,\n'
               'Age: 26,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 7.925,\n',
               'Survived: 0,\n'
               'Pclass: 2,\n'
               'Name: Mr. Joseph J Fynney,\n'
               'Sex: male,\n'
               'Age: 35,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 26.0,\n',
               'Survived: 1,\n'
               'Pclass: 2,\n'
               'Name: Mr. Lawrence Beesley,\n'
               'Sex: male,\n'
               'Age: 34,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 13.0,\n',
               'Survived: 1,\n'
               'Pclass: 3,\n'
               'Name: Miss. Anna McGowan,\n'
               'Sex: female,\n'
               'Age: 15,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 8.0292,\n',
               'Survived: 1,\n'
               'Pclass: 1,\n'
               'Name: Mr. William Thompson Sloper,\n'
               'Sex: male,\n'
               'Age: 28,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 35.5,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Miss. Torborg Danira Palsson,\n'
               'Sex: female,\n'
               'Age: 8,\n'
               'Siblings/Spouses Aboard: 3,\n'
               'Parents/Children Aboard: 1,\n'
               'Fare: 21.075,\n',
               'Survived: 1,\n'
               'Pclass: 3,\n'
               'Name: Mrs. Carl Oscar (Selma Augusta Emilia Johansson) '
               'Asplund,\n'
               'Sex: female,\n'
               'Age: 38,\n'
               'Siblings/Spouses Aboard: 1,\n'
               'Parents/Children Aboard: 5,\n'
               'Fare: 31.3875,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Mr. Farred Chehab Emir,\n'
               'Sex: male,\n'
               'Age: 26,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 7.225,\n',
               'Survived: 0,\n'
               'Pclass: 1,\n'
               'Name: Mr. Charles Alexander Fortune,\n'
               'Sex: male,\n'
               'Age: 19,\n'
               'Siblings/Spouses Aboard: 3,\n'
               'Parents/Children Aboard: 2,\n'
               'Fare: 263.0,\n',
               'Survived: 1,\n'
               'Pclass: 3,\n'
               "Name: Miss. Ellen O'Dwyer,\n"
               'Sex: female,\n'
               'Age: 24,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 7.8792,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Mr. Lalio Todoroff,\n'
               'Sex: male,\n'
               'Age: 23,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 7.8958,\n',
               'Survived: 1,\n'
               'Pclass: 1,\n'
               'Name: Mrs. Jacques Heath (Lily May Peel) Futrelle,\n'
               'Sex: female,\n'
               'Age: 35,\n'
               'Siblings/Spouses Aboard: 1,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 53.1,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Mr. William Henry Allen,\n'
               'Sex: male,\n'
               'Age: 35,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 8.05,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Mr. James Moran,\n'
               'Sex: male,\n'
               'Age: 27,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 8.4583,\n',
               'Survived: 0,\n'
               'Pclass: 1,\n'
               'Name: Mr. Timothy J McCarthy,\n'
               'Sex: male,\n'
               'Age: 54,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 51.8625,\n',
               'Survived: 0,\n'
               'Pclass: 3,\n'
               'Name: Master. Gosta Leonard Palsson,\n'
               'Sex: male,\n'
               'Age: 2,\n'
               'Siblings/Spouses Aboard: 3,\n'
               'Parents/Children Aboard: 1,\n'
               'Fare: 21.075,\n',
               'Survived: 1,\n'
               'Pclass: 3,\n'
               'Name: Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,\n'
               'Sex: female,\n'
               'Age: 27,\n'
               'Siblings/Spouses Aboard: 0,\n'
               'Parents/Children Aboard: 2,\n'
               'Fare: 11.1333,\n',
               'Survived: 1,\n'
               'Pclass: 2,\n'
               'Name: Mrs. Nicholas (Adele Achem) Nasser,\n'
               'Sex: female,\n'
               'Age: 14,\n'
               'Siblings/Spouses Aboard: 1,\n'
               'Parents/Children Aboard: 0,\n'
               'Fare: 30.0708,\n'],
 'embeddings': None,
 'ids': ['id0',
         'id1',
         'id10',
         'id11',
         'id12',
         'id13',
         'id14',
         'id15',
         'id16',
         'id17',
         'id18',
         'id19',
         'id2',
         'id20',
         'id21',
         'id22',
         'id23',
         'id24',
         'id25',
         'id26',
         'id27',
         'id28',
         'id29',
         'id3',
         'id4',
         'id5',
         'id6',
         'id7',
         'id8',
         'id9'],
 'included': ['metadatas', 'documents'],
 'metadatas': [{'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'},
               {'source': 'titanic_small'}],
 'uris': None}
Documents in the collection:
S
u
r
v
i
v
e
d
:

0
,


P
c
l
a
s
s
:

3
,


N
a
m
e
:

M
r
.

O
w
e
n

H
a
r
r
i
s

B
r
a
u
n
d
,


S
e
x
:

m
a
l
e
,


A
g
e
:

2
2
,


S
i
b
l
i
n
g
s
/
S
p
o
u
s
e
s

A
b
o
a
r
d
:

1
,


P
a
r
e
n
t
s
/
C
h
i
l
d
r
e
n

A
b
o
a
r
d
:

0
,


F
a
r
e
:

7
.
2
5
,

<>:5: SyntaxWarning: invalid escape sequence '\G'
<>:5: SyntaxWarning: invalid escape sequence '\G'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19716\3146869219.py:5: SyntaxWarning: invalid escape sequence '\G'
  client = chromadb.PersistentClient(path="D:\Generative AI\generative ai project\QA_SQL_Tabular_data\data\chroma")

In [13]:
# Example: Inspect metadata
metadata = data['metadatas']
pprint(metadata)

# Visualizing metadata distribution (example: count of different labels)
import pandas as pd

# Assuming metadata contains labels
labels = [meta['label'] for meta in metadata if 'label' in meta]
df_labels = pd.DataFrame(labels, columns=["label"])

[{'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'},
 {'source': 'titanic_small'}]

In [16]:
from sentence_transformers import SentenceTransformer
embedding_model = SentenceTransformer('all-MiniLM-L6-v2')
query_text = "what is four?"
query_embedding = embedding_model.encode(query_text).tolist()
results = collection.query(
    query_embeddings=[query_embedding],
    n_results=5  # Adjust the number of results you need
)
# Print the query results
# Display the results
for i, result in enumerate(results['documents']):
    print(f"Result {i + 1}:")
    print("Document:", result)
    print("Metadata:", results['metadatas'][i])
    print("Distance:", results['distances'][i])
    print("="*50)

Result 1:
Document: ['Survived: 0,\nPclass: 3,\nName: Miss. Torborg Danira Palsson,\nSex: female,\nAge: 8,\nSiblings/Spouses Aboard: 3,\nParents/Children Aboard: 1,\nFare: 21.075,\n', 'Survived: 0,\nPclass: 3,\nName: Mr. Farred Chehab Emir,\nSex: male,\nAge: 26,\nSiblings/Spouses Aboard: 0,\nParents/Children Aboard: 0,\nFare: 7.225,\n', 'Survived: 1,\nPclass: 3,\nName: Miss. Marguerite Rut Sandstrom,\nSex: female,\nAge: 4,\nSiblings/Spouses Aboard: 1,\nParents/Children Aboard: 1,\nFare: 16.7,\n', 'Survived: 1,\nPclass: 3,\nName: Miss. Laina Heikkinen,\nSex: female,\nAge: 26,\nSiblings/Spouses Aboard: 0,\nParents/Children Aboard: 0,\nFare: 7.925,\n', 'Survived: 0,\nPclass: 3,\nName: Master. Gosta Leonard Palsson,\nSex: male,\nAge: 2,\nSiblings/Spouses Aboard: 3,\nParents/Children Aboard: 1,\nFare: 21.075,\n']
Metadata: [{'source': 'titanic_small'}, {'source': 'titanic_small'}, {'source': 'titanic_small'}, {'source': 'titanic_small'}, {'source': 'titanic_small'}]
Distance: [1.669710282566527, 1.7112025197486702, 1.7149223237367552, 1.719679041898073, 1.7208745040609552]
==================================================